<app-blank pageName="Ana Sayfa">
    <div class="row">
        <div class="col-md-6 col-12">
            <app-section sectionTitle="Chart 1">
                <canvas id="myChart1"></canvas>
            </app-section>
        </div>
        <div class="col-md-6 col-12">
            <app-section sectionTitle="Chart 2">
                <canvas id="myChart2"></canvas>
            </app-section>
        </div>

        <div class="col-md-4 col-12">
            <app-section sectionTitle="Chart 3">
                <canvas id="myChart3"></canvas>
            </app-section>
        </div>
        <div class="col-md-4 col-12">
            <app-section sectionTitle="Chart 4">
                <canvas id="myChart4"></canvas>
            </app-section>
        </div>
        <div class="col-md-4 col-12">
            <app-section sectionTitle="Chart 5">
                <canvas id="myChart5"></canvas>
            </app-section>
        </div>
    </div>
</app-blank>